@model ShoppingCore.Models.Category

@{
    ViewData["Title"] = "Edit";
}
<section class="pt-4 mt-4">
    <form method="post">
        <div class="border pt-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit Category</h2>
            </div>
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class=" text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DisplayOrder"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="btn btn-danger"></span>
            </div>
            <button type="submit" class="btn btn-secondary" style="width:150px">Update</button>
            <a asp-controller="Category" asp-action="Edit"></a>
        </div>
    </form>
    </section>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
